*.wav
*.hdf5
*.jpg
static/uploads/Malkauns_JaakoManaRaam_fast.wav
static/uploads/Man_Tu_Gaa_Re_Hari_Naam_yaman_kalyan.wav
static/uploads/Yaman_kalyan_ManTuGaaReHariNaam.wav
static/uploads/new_sample.wav
static/uploads/sample.wav